.navigation {

    /*&__checkbox:checked ~ &__bg {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        transform: translateX(0);
    }*/

    &:target &__bg {
        transform: scale(80);
    }

    &:target &__nav {
        opacity: 1;
        transform: translateX(0);
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;

        &--close {
            opacity: 0;
            visibility: hidden;
            height: 7rem;
            width: 7rem;
            border-radius: 50%;
            position: fixed;
            top: 6rem;
            right: 6rem;
            z-index: 2500;
            cursor: pointer;
        }
    }

    &__bg {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: transform .6s;
    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        transform: translateX(-100%);
        transition: all 1s cubic-bezier(0,.43,.09,1.4);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;

    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            padding: 1rem 2rem;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(
                120deg, 
                transparent 0%,
                transparent 50%,
                $color-white 50%);
            background-size: 250%;
            transition: all .6s;
            backface-visibility: hidden;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }

        & > span {
            margin-right: 1rem;
            display: inline-block;
        }
    }

    &__icon {
        position: relative;
        margin-top: 3.4rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
            transition: all .2s;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem
    }

    &__button:hover &__icon::after {
        top: 1rem
    }

    &:target &__button &__icon {
        background-color: transparent;

        &::after {
            transform: rotate(-135deg);
            top: 0;
        }

        &::before {
            transform: rotate(135deg);
            top: 0;
        }
    }

    &:target &__button--close {
        visibility: visible;
    }
}